body {
    text-align: center;
    background-color: #304874;
}

#title {
    font-size: 8em;
    color: #dddddd;
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

.letter {
    color: #c0a405;
    font-family: 'Slabo 27px', serif;
    outline: none;
    border: 10px transparent #304874;
    font-size: 4em;
    line-height: 2;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: auto;
    margin: 10px;
    background-color: #304874;
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
}

/* Letter Pictures */

.aPressed {
    color: transparent;
    background-image: url("images/a.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bPressed {
    color: transparent;
    background-image: url("images/b.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.cPressed {
    color: transparent;
    background-image: url("images/c.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.dPressed {
    color: transparent;
    background-image: url("images/d.png");
    background-size: 100%;
}

.ePressed {
    color: transparent;
    background-image: url("images/e.png");
    background-size: 100%;
}

.fPressed {
    color: transparent;
    background-image: url("images/f.png");
    background-size: 100%;
}

.gPressed {
    color: transparent;
    background-image: url("images/g.png");
    background-size: 100%;
}

.hPressed {
    color: transparent;
    background-image: url("images/h.png");
    background-size: 100%;
}

.iPressed {
    color: transparent;
    background-image: url("images/i.png");
    background-size: 100%;
}

.jPressed {
    color: transparent;
    background-image: url("images/j.png");
    background-size: 100%;
}

.kPressed {
    color: transparent;
    background-image: url("images/k.png");
    background-size: 100%;
}

.lPressed {
    color: transparent;
    background-image: url("images/l.png");
    background-size: 100%;
}

.mPressed {
    color: transparent;
    background-image: url("images/m.png");
    background-size: 100%;
}

.nPressed {
    color: transparent;
    background-image: url("images/n.png");
    background-size: 100%;
}

.oPressed {
    color: transparent;
    background-image: url("images/o.png");
    background-size: 100%;
}

.pPressed {
    color: transparent;
    background-image: url("images/p.png");
    background-size: 100%;
}

.qPressed {
    color: transparent;
    background-image: url("images/q.png");
    background-size: 100%;
}

.rPressed {
    color: transparent;
    background-image: url("images/r.png");
    background-size: 100%;
}

.sPressed {
    color: transparent;
    background-image: url("images/s.png");
    background-size: 100%;
}

.tPressed {
    color: transparent;
    background-image: url("images/t.png");
    background-size: 100%;
}

.uPressed {
    color: transparent;
    background-image: url("images/u.png");
    background-size: 100%;
}

.vPressed {
    color: transparent;
    background-image: url("images/v.png");
    background-size: 100%;
}

.wPressed {
    color: transparent;
    background-image: url("images/w.png");
    background-size: 100%;
}

.xPressed {
    color: transparent;
    background-image: url("images/x.png");
    background-size: 100%;
}

.yPressed {
    color: transparent;
    background-image: url("images/y.png");
    background-size: 100%;
}

.zPressed {
    color: transparent;
    background-image: url("images/z.png");
    background-size: 100%;
}

