@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1a2336;
    font-family: 'Slabo 27px', serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
}

#title {
    font-size: 8em;
    color: #dddddd;
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

.btn {
    background-color: rgb(111, 143, 23);
    border-radius: 20px;
    height: 100px;
    width: 100px;
    border: none;
    color: #fff;
    margin: 5px;
    font-size: 2.2rem;
    font-family: inherit;
    cursor: pointer;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons {
  display: absolute;
}

.image {
    display: absolute;
    height: 100px;
    width: 100px;
}

.letter  {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
} 

#github {
    text-decoration: none;
    font-style: 'Montserrat';
    color: #fff;
    font-size: 10px;
}

